<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="[% settings.charset %]">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dancer2 Blog Example</title>
<link href="[% request.uri_base %]/css/bootstrap.min.css" rel="stylesheet">
<link href="[% request.uri_base %]/css/blog.css" rel="stylesheet">
<link href="[% request.uri_base %]/css/jquery-ui.min.css" rel="stylesheet">
<link href="[% request.uri_base %]/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="[% request.uri_base %]/css/dataTables.bootstrap.min.css" rel="stylesheet">

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
<script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
<script src="[% request.uri_base %]/javascripts/jquery-ui.min.js"></script>
<script src="[% request.uri_base %]/javascripts/jquery.dataTables.min.js"></script>
<script src="[% request.uri_base %]/javascripts/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
/* <![CDATA[ */

$(document).ready(function() {

    $('.cancel').on( 'click', function () {
        window.location.href="/";
    } );

} );

/* ]]> */
</script>
</head>

<body>
  [% content %]
    </div><!-- /.container -->

<footer class="footer">
      <div class="container">
        <p class="text-muted">Powered by <a href="http://perldancer.org/">Dancer2</a> [% dancer_version %]</p>
      </div>
    </footer>

</body>
</html>
